body {
	background:"#63c0f2";
	font-size: 22px;
	color: lightgrey;
	font-family: 'Courgette', cursive;
}

h1{
	text-align:center;
	color:white;
	font-family: 'Courgette', cursive;
}

img{
	display:block;
	margin-left: auto;
	margin-right: auto;
}

a{
	color: mediumaquamarine
}

a:hover{
	color:black
}

a:visited{
	color:darkblue
}